*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;

    font-family: 'Open Sans', sans-serif;
}

:root{
    font-size: 62.5%; /*1rem = 10px*/

    --black: #0D114F;
    --white: #FAFAFA;
    --red: #E83F5B;
    --light-blue: #E0ECFF;
    --blue: #3485FF;
    --bg-color: #FBFCFF;
    --overlay: #040911; 
    --icon-details: #A5B0C1;

    --gray-dark: #4D5E77;
    --grey-blue: #A1B2CD;
    --grey-medium: #D3D9E2;
    --grey-light: #E5EAF1;
}

body{
    width: 100vw;
    height: 100vh;
}

body{
    font-size: 1.6rem; /*Documento volta ao normal de 16px*/
    background-color: var(--white);
}

.sr-only{ /*Fazer o label desaparecer*/
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;border-width: 0;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

header img{
    width: 16.7rem;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: clamp(2rem, 2.8rem, 5vw);
    line-height: 4.2rem;
    color: var(--black);
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 2.4rem;

    border-radius: .8rem;
    cursor: pointer;
}

.btn img{
    width: 2rem;
}

.btn-blue{
    background-color: var(--blue);
    color: var(--white);
}

.btn-white{   
    border: 2px solid var(--blue);
    background-color: var(--white);
    color: var(var(--blue));
}

.create-room .btn, .login-room button{
    padding: 1.3rem 1rem;
    width: 100%;

    transition: filter .2s;
}

.create-room .btn:hover, .login-room button:hover{
    filter: brightness(1.2);
}