<div class="no-questions">
    <img src="/img/icon-no-questions.svg" alt="Icone indicando que a sala não possui nenhuma pergunta">
    <h3>Nenhuma pergunta por aqui...</h3>
    <p>Faça sua primeira pergunta e envie o código dessa sala para outras pessoas!</p>
</div>
